language: python
cache: pip
sudo: false
jobs:
  include:
    - name: "Python 3.8.0 on Xenial Linux"
      python: 3.8
    - name: "Python 3.7.4 on macOS"
      os: osx
      osx_image: xcode11.2  # Python 3.7.4 running on macOS 10.14.4
      language: shell
    - name: "Python 3.8.0 on Windows"
      os: windows
      language: shell
      before_install:
        - choco install python --version 3.8.0
        - python -m pip install --upgrade pip
      env: PATH=/c/Python38:/c/Python38/Scripts:$PATH
services:
  - xvfb  # Allows for tests that require the GUI to run
install:
  - pip3 install --upgrade pip
  - pip3 install pytest
  - pip3 install pytest-cov
  - pip3 install coveralls
  - pip3 install mypy
  - pip3 install pytest_mock
script:
  - mypy kintercrypt tests --config-file=tox.ini  # Type checking
  - pytest --cov=kintercrypt/ --cov-report term-missing
after_success:
  - coveralls
